<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fontanathacquarg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FontanaThacquarG">
        <activity android:name=".culture.CultureExerciceActivity"></activity>
        <activity android:name=".culture.CultureActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".math.ResultatActivity" />
        <activity android:name=".math.ExerciceAdditionActivity" />
        <activity android:name=".math.ChoiceMultiplyActivity" />
        <activity android:name=".math.ExerciceMultiplyActivity" />
        <activity android:name=".ActivityChoice" />
        <activity android:name=".math.MathActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>